*{
    padding: 0 ;
    margin: 0;
}
#root{
    background-color: #18191A;
    font-family:  Helvetica, sans-serif;
}
.body{
    display: flex;
}
.mainPost{
    margin-left: 100px;
    margin-top: 20px;
}