@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.titleBar {
  background-color: #242526;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  top: 0;
}
.tab {
  display: flex;
  width: 500px;
  justify-content: space-between;
  align-items: center;
  margin-left: -10%;
  font-size: 25px;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  width: 200px;
}


.logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.fblogo {
  width: 55px;
}

.fb-search input {
  height: 40px;
  border-radius: 20px;
  border: none;
  width: 200px;
  font-size: 18px;
  color: white;
  background-color: #3A3B3C;
  padding-left: 10px;
}

.fb-search input:focus {
  outline: none;
}

.tab,.profile{
  display: flex;
}
