* {
  margin: 0;
  padding: 0;
  color: white;
}

.titleBar {
  background-color: #242526 ;
}

.logo {
  display: flex;
  align-items: center;
}
.fb-search input{
  height: 40px;
  border-radius:20px ;
  border: none;
}

.fblogo {
  width: 65px;
}